@model Suffer_Travels.Models.Tour

@{
    ViewData["Title"] = "AddTours";
    Layout = "~/Views/Shared/User/_Admin.cshtml";
}

<main class="container p-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="User">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="User">Tour</a>
        </li>
        <li class="breadcrumb-item active">Add Tour</li>
    </ol>
    <div class="row justify-content-center">
        <form method="post" class="d-flex justify-content-center container main-body">
            <div class="card card-style" style="width: 40rem">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h1 class="card-title card-title-style align-self-start" style="text-align: center; font-size: 4rem">
                        Add Tour Package
                    </h1>
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="TourName" id="" placeholder="Enter Tour Name" />
                            <label asp-for="TourName"></label>
                            <span asp-validation-for="TourName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="Description" id="" placeholder="Enter Description" />
                            <label asp-for="Description"></label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" asp-for="TotalSeats" id="" placeholder="Enter total number of seats" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

@section scripts { 
    @{
        <partial name="_ValidationScriptsPartial" />
    } 
}
