@using Suffer_Travels.ViewModel
@model TourViewModel

@{
    ViewData["title"] = "Edit Tour";
    Layout = "~/Views/Shared/User/_Admin.cshtml";
}

<form method="post" class="d-flex justify-content-center container main-body">
    <div class="card card-style">
          <div class="card-body d-flex flex-wrap flex-column justify-content-between">
            <div>
                  <input type="hidden" asp-for="TourId" />
    @for(int i=1; i<=Model.NoOfDays; i++)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="tourItinerary.Day">Day</label>
            <input type="text" class="form-control" asp-for="tourItinerary.Day" id="" placeholder="Day" value=@i readonly />
            <span asp-validation-for="tourItinerary.Day" class="text-danger" ></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="tourCity.CityId">City</label>
            <select asp-for="tourCity.CityId" class="form-select" aria-label="Default select example" id="tourCity">
                            @foreach(var city in Model.cities)
                            {
                                <option value=@city.CId>@city.Cname</option>
                            }
            </select>
            <input type="hidden" asp-for="city.Cname" id="city" />
            <span asp-validation-for="city.Cname" class="text-danger"></span>
        </div>
    }
            </div>
        </div>
    </div>
</form>

<script>
/*    $(document).ready(function() {
        $('#tourCity').change(function(){
            let city = $('#tourCity').val();
            let landmarkLists = document.createElement("[input:checkbox]");
            let lists = @Model.landmarks.Where(l => l.CityId == Model.tourCity.CityId);
            console.log(lists);
        }) 
    }) */
</script>