@using Suffer_Travels.ViewModel
@model TourViewModel

@{
    ViewData["title"] = "Edit Tour";
    Layout = "~/Views/Shared/User/_Admin.cshtml";
}

<form method="post" class="d-flex justify-content-center container main-body">
    <div class="card card-style">
          <div class="card-body d-flex flex-wrap flex-column justify-content-between">
            <div>
                  <input type="hidden" asp-for="TourId" />
    @for(int i=1; i<=Model.NoOfDays; i++)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="tourItinerary.Day">Day</label>
            <input type="text" class="form-control" asp-for="tourItinerary.Day" id="aday" placeholder="Day" value=@i readonly />
            <span asp-validation-for="tourItinerary.Day" class="text-danger" ></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="tourItinerary.CityId">City</label>
            <select asp-for="tourCity.CityId" class="form-select" aria-label="Default select example" id="atourCity">
                            @foreach(var city in Model.cities)
                            {
                                <option value=@city.CId>@city.Cname</option>
                            }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="tourItinerary.Description">Description</label>
            <input type="text" class="form-control" asp-for="tourItinerary.Description" id="adescription" placeholder="Description" />
            <span asp-validation-for="tourItinerary.Description" class="text-danger"></span>
        </div>
    }
            </div>
            <div>
                <button id="btnSubmit" type="submit" class="btn btn-success">Add Details</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready((event) => {
        $("#btnSubmit").click((event) => {
            const aday = document.querySelectorAll("#aday");
            const acityid = document.querySelectorAll("#acityid");
            const adescription = document.querySelectorAll("#adescription");

            let details = [];
            let day = [], tourCity = [], 
        })
    })
</script>

@section scripts { 
    @{
        <partial name="_ValidationScriptsPartial" />
    } 
}