@using Suffer_Travels.ViewModel
@{
    ViewData["title"] = "Add tour packages";
    Layout = "~/Views/Shared/User/_Admin.cshtml";
}
@model TourViewModel;
<form method="post" >
    <input type="text" asp-for="tours.TourName" />
    <span asp-validation-for="tours.TourName" class="text-danger"></span>
    
    <a class="btn btn-success mx-2" asp-controller="Admin" asp-action="AddTourDetails">Add Details</a>
</form>
<partial name="TourTypePartial" />

@section scripts { 
    @{
        <partial name="_ValidationScriptsPartial" />
    } 
}