@using Suffer_Travels.ViewModel
@model TourViewModel;

<div class="modal fade" id="CityDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="CityDetailsModal">Add City Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close" ></button>
            </div>

            <form method="post" asp-action="AddCityDetails" enctype="multipart/form-data" class="d-flex justify-content-center container main-body" >
                <div class="card card-style modal-body">
                    <div class="card-body d-flex flex-wrap flex-column justify-content-between">
                        <div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="city.Cname">City name</label>
                                <input type="text" class="form-control" asp-for="city.Cname" placeholder="City Name" />
                                <span asp-validation-for="city.Cname" class="text-danger" ></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="city.StateId">State</label>
                                <select asp-for="city.StateId" class="form-select" aria-label="Default select example" id="stateid">
                                  <option value="">Select from the list</option>
                                    @foreach (var item in Model.states) 
                                    {
                                        <option value="@item.SId">@item.Sname</option>
                                    }
                                </select>
                                <span asp-validation-for="state.Sname" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="city.Photo">Upload photo</label>
                                <input type="file" asp-for="city.Photo" id="cityPhoto" />
                                <span asp-validation-for="city.Photo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Add Details</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>