@using Suffer_Travels.ViewModel
@model TourViewModel
@{
    ViewData["title"] = "Edit Tour";
    Layout = "~/Views/Shared/User/_Admin.cshtml";
}

 <form method="post" asp-action="EditTourDetails" enctype="multipart/form-data" class="d-flex justify-content-center container main-body" >
        <div class="card card-style modal-body">
          <div class="card-body d-flex flex-wrap flex-column justify-content-between">
            <div>
              <div class="mb-3">
                  <input type="hidden" asp-for="tourDetail.TId" />
                <label class="form-label" asp-for="tourDetail.TourName">Tour name</label>
                <input type="text" class="form-control" asp-for="tourDetail.TourName" id="" placeholder="Tour name" />
                <span asp-validation-for="tourDetail.TourName" class="text-danger" ></span>
              </div>
              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.Description" >Description</label>
                <input type="text" class="form-control" asp-for="tourDetail.Description" id="" placeholder="Tour description" />
              </div>
              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.TotalSeats" >Total Seats</label>
                <input type="number" class="form-control" asp-for="tourDetail.TotalSeats" id="" placeholder="Total Seats"/>
                <span asp-validation-for="tourDetail.TotalSeats" class="text-danger" ></span>
              </div>
              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.Price">Price Per Person</label>
                <input type="number" class="form-control" asp-for="tourDetail.Price" id="" placeholder="Price"/>
                <span asp-validation-for="tourDetail.Price" class="text-danger" ></span>
              </div>
              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.PriceInfant">Price Per Infant</label>
                <input type="number" class="form-control" asp-for="tourDetail.PriceInfant" id="" placeholder="Price"/>
                <span asp-validation-for="tourDetail.PriceInfant" class="text-danger" ></span>
              </div>
              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.PriceChildren">Price Per Child</label>
                <input type="number" class="form-control" asp-for="tourDetail.PriceChildren" id="" placeholder="Price"/>
                <span asp-validation-for="tourDetail.PriceChildren" class="text-danger" ></span>
              </div>
              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.NoOfDays">Number of Days</label>
                <input type="number" class="form-control" asp-for="tourDetail.NoOfDays" id="" placeholder="Days"/>
                <span asp-validation-for="tourDetail.NoOfDays" class="text-danger"></span>
              </div>
@*              <div class="mb-3">
                <label class="form-label" asp-for="tourDetail.TourTypeId">Tour Type</label>
                <select asp-for="tourDetail.TourTypeId" class="form-select" aria-label="Default select example" id="type">
                  <option value="-1">Select from the list</option>
                  <option value="0">Add New</option>
                    @foreach (var item in Model.tourTypes) 
                    {
                        <option value="@item.TtId">@item.TtName</option>
                    }
                </select>
                <input type="hidden" id="tourType" asp-for="tourTypeDetails.TtName" />
                <span asp-validation-for="tourTypeDetails.TtName" class="text-danger"></span>
              </div>
              <div class="mb-3">
                    <label class="form-label" asp-for="tourDate.Date">Start Date</label>
                    <input type="date" class="form-control" asp-for="tourDate.Date" id="" placeholder="Start Date" />
                    <span asp-validation-for="tourDate.Date" class="text-danger"></span>
              </div>
              <div class="mb-3">
                    <label class="form-label" asp-for="repeatsEvery">Repeats Every</label>
                    <input type="number" class="form-control" asp-for="repeatsEvery" id="" placeholder="Number" />
                    <select asp-for="recurrence" class="form-select" aria-label="Default select example">
                        <option value="Day">Day</option>
                        <option value="Week">Week</option>
                        <option value="Month">Month</option>
                        <option value="Year">Year</option>
                     </select>
                     <span asp-validation-for="tourDate.Date" class="text-danger"></span>
             </div>
             <div class="mb-3">
                 <label class="form-label" asp-for="photo.ImagePath">Upload Photo</label>
                 <input asp-for="photo.ImagePath"  type="file" id="upload image" placeholder="upload photo" />
                 <span asp-validation-for="photo.ImagePath" class="text-danger"></span>
             </div>
            </div>*@
          </div>
            <button type="submit" class="btn btn-primary">Add Details</button
        </div>
      </form>