<table>
    @foreach (var item in Model.tourTypes)
    {
        <tr>
            <td>
                @item.TtId
            </td>
            <td>
                @item.TtName
            </td>
        </tr>
    }
</table>