@{
    Layout = "~/Views/Shared/User/Customer.cshtml";
}

<div class="container" style="text-align:center;">
    <img src="https://mk0travelvisaboo9h0g.kinstacdn.com/wp-content/uploads/2017/09/payment_failed.jpg" />
</div>