@{
    Layout = "~/Views/Shared/User/Customer.cshtml";
}

<div class="container" style="text-align:center;">
    <img src="http://www.shikharclasses.in/wp-content/uploads/2020/04/PAYMENT-SUCCESS.png" />
</div>