<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Suffer Travels</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme4.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Suffer_Travels.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <link rel="icon" href="~/travel.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-primary border-bottom box-shadow py-3 py-lg-3">
            <div class="container container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="HomePage">Suffer Travels</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Hotel" asp-action="Home">Home</a>
                        </li>
                        @if (ViewData.ContainsKey("ApprovalFlag"))
                        {
                            if (ViewData["ApprovalFlag"].ToString() == "Approved")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Hotel" asp-action="RegisterHotel">Register Hotel</a>
                                </li>   
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Hotel" asp-action="RegisterHotel">Request for approval</a>
                                </li>
                            }
                        }
                    </ul>
                    <span class="nav-item ml-auto">
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="EditProfile">Hello, @ViewData["Fname"] <span class="small"><img src="../photos/user/@ViewData["ProfilePhoto"]" style="width: 1.3rem; height: 1.3rem; border-radius: 50%" /></span></a>
                    </span>
                    <span class="nav-item ml-auto">
                            <a class="nav-link text-white bg-danger" asp-area="" asp-controller="User" asp-action="Logout">Log out</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    
    @RenderBody()
    
    <footer class="border-top footer text-muted">
        <div class="container">
                    <partial name="_Notification" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
    <script>
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
