@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Register

<form method="post" asp-action="ChangePassword" asp-controller="User" >
    @RenderBody()
    <div>
        <label asp-for="password">Password</label>
        <input asp-for="password" id="txtPassword" type="password" required />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="rePassword" for="txtRePassword">Confirm password</label>
        <input asp-for="rePassword" id="txtRePassword" type="password" required />
        <span asp-validation-for="rePassword" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-info" type="submit">Register</button>
    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}