@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860    
*@
@{
    ViewData["title"] = "Change Password";
    Layout = "~/Views/Shared/MasterChangePassword.cshtml";
}

@model Register
<div>
    <h1>Change Password</h1>
    <label asp-for="username">Username</label>
    <label>@ViewData["Message"]</label>
    <input asp-for="username" id="txtUsername" type="text" />
    <span asp-validation-for="username" class="text-danger"></span>
</div>
