@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Edit Profile";
}

@model User

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a asp-controller="User" asp-action="HomePage">Home</a></li>
  <li class="breadcrumb-item active">Edit Profile</li>
</ol>


<div class="row justify-content-center">
    <form method="post" class="col-auto">
        <table  class="table table-responsive">
            <tr>
                <td>
                    <label asp-for="Fname" class="text-dark">First Name</label>
                </td>
                <td>
                    <input asp-for="Fname" id="fname" type="text" class="form-control mb-2" required />
                </td>
                <td>
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Mname" class="text-dark">Middle Name</label>
                </td>
                <td>
                    <input asp-for="Mname" id="mname" type="text" class="form-control" />
                </td>
                <td>
                    <span asp-validation-for="Mname" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Lname" class="text-dark">Last Name</label>
                </td>
                <td>
                    <input asp-for="Lname" id="lname" type="text" class="form-control" required />
                </td>
                <td>
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                
                <td>
                    <label asp-for="Gender" class="text-dark"></label>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <input asp-for="Gender" value="M" type="radio" /><label class="btn btn-primary">Male</label>                    
                        <input asp-for="Gender" value="F" type="radio" /><label class="btn btn-primary">Female</label>
                    </div>
                </td>
                <td>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DateOfBirth" class="text-dark">Date of Birth</label>
                </td>
                <td>
                    <input asp-for="DateOfBirth" id="dateOfBirth" class="form-control" type="date" required />
                </td>
                <td>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="ContactNo" class="text-dark">Contact Number</label>
                </td>
                <td>
                    <input asp-for="ContactNo" id="contactNo" class="form-control" type="text"  required />
                </td>
                <td>
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Email" class="text-dark">Email</label>
                </td>
                <td>
                    <input asp-for="Email" id="email" class="form-control" type="email"  required />
                </td>
                <td>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
             <tr>
                <td colspan="3">
                    <button asp-action="ChangePassword" asp-controller="User" id="submit" class="btn btn-info">Change Password</button>
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}