@{
    ViewData["title"] = "Forgot Password"; 
}

@model Register

<form method="post" asp-action="ForgotPassword">
    <div>
        <h1>Forgot Password</h1>
    </div>
    <div>
        <label asp-for="password">Password</label>
        <input asp-for="password" id="txtPassword" type="password" required />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="rePassword" for="txtRePassword">Confirm password</label>
        <input asp-for="rePassword" id="txtRePassword" type="password" required />
        <span asp-validation-for="rePassword" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-info" >Change</button>
    </div>
</form>
