@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@{
    ViewData["title"] = "Log In";
}

<form method="post">
    <table width="0">
        <tr>
            <td>
                <label asp-for="Username"></label>
            </td>
            <td>
                <input asp-for="Username" id="name" type="text" required/>
            </td>
        <tr>
            <td>
                <span asp-validation-for="Username" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password"></label>
            </td>
            <td>
                <input asp-for="Password" type="password" id="password" required/>
            </td>
        </tr>
        <tr>
            <td>
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        <tr>
            <td>
                <button type="submit" id="submit" class="btn btn-info"></button>
            </td>
            <td>
                <a asp-action="Register" class="btn btn-warning" asp-controller="User">Register</a>
            </td>
        </tr>
    </table>
</form>


@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}