@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@{
    ViewData["title"] = "Log In";
}

<form asp-action="HomePage" method="post">
    <label asp-for="Username">Name</label>
    <input asp-for="Username" id="name" type="text" required/>
    <span asp-validation-for="Username" class="text-danger"></span>
    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="password" id="password" required/>
    <span asp-validation-for="Password" class="text-danger"></span>
    <input type="submit" id="submit">
</form>

<a asp-action="Register" asp-controller="User">Register</a>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}