@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OTP
<form method="post" asp-route-id="1">
    <div>
        <h1>Verification</h1>
    </div>
    <div>
        <label asp-for="otp">Enter OTP</label>
        <input asp-for="otp" type="password" id="txtOtp" required />
    </div>
    <div>
        <button type="submit" id="btnSubmit" class="btn btn-info" >Next</button>
        <!--Add Back button-->
        <a asp-action="Register" asp-controller="User">Back</a>
    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}