@model IEnumerable<Tour>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to suffer travels</h1>
    <a asp-controller="User" asp-action="Login">Log in</a>
</div>

<h2>Our Tours</h2>

<div>
    @foreach(var item in Model){
        <div>
            <h4>@item.TourName</h4>
            <h6>@item.Description</h6>
            <h6>@item.Price</h6>
        </div>
    }
</div>